

body{
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;

  color: #000000;
  background-color: #fff;
}

img{
  max-width: 100%;
  height: auto;
}

.button-red{
  display: block;
  padding: 14px 0;

  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.button-red:hover{
  background-color: #ca2c37;
}

.button-red:active{
  background-color: #ba2732;
}

a{
  text-decoration: none;
}

.header{
  background-color: #f3f7f9;
}

.top-menu-wrapper {
  width: 100%;
  margin-bottom: 46px;
  display: flex;
  justify-content: center;

  background-color: #293449;
}

.container{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.top-menu{
  display: flex;

  font-size: 17px;
  line-height: 18px;


  min-height: 42px;
}


.logo{
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933 ;
}



.main-logo{
  padding: 12px 55px 9px 55px ;
}

.checkout-link{
  background-color: #63a63e;
}

.search-form{
  flex-basis: 270px;
  position: relative;

  color: rgba(255,255,255,1);
}

.search-input{
  width: 100%;
  height: 100%;
  padding-left: 49px;

  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}

.search-input::-webkit-input-placeholder{
  color: white;
}

.top-menu-icon{
  fill: rgba(255,255,255,0.5);
}

.search-input:hover+ svg{
  fill:rgba(255,255,255,1); ;
}

.search-input:focus + svg{
  fill: #ee3643;
}

.search-input:focus{
  color: black;
  background-color: #fff;
}

.search-form svg{
  position: absolute;
  top: 12px;
  left: 17px;
}

.top-menu-link{
  width: 150px;
  padding-top: 10px;

  color: rgba(255,255,255,1);
  text-align: center;
}



.logo:hover{
  background-color: #ca2c37;
}

.logo:active{
  background-color: #ba2732;
}

.top-menu-link:active{
  color: rgba(255,255,255,0.5);
}

.fav-link:hover,
.cart-link:hover{
   background-color: #212a3a;
}

.fav-link svg,
.cart-link svg{
  margin-right:17px;
  opacity: 0.5;
}

.fav-link:hover svg,
.cart-link:hover svg{
  opacity: 1;
}

.fav-link:active,
.cart-link:active{
  background-color: #161d29;
}

.fav-link:active svg,
.cart-link:active svg{
  opacity: 0.5;
}

.checkout-link:hover{
  background-color: #5fbb2d;
}

.checkout-link:active{
  background-color: #518534;
}



.header > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0 auto;
}

.header-row{
  display: flex;
  justify-content: flex-start;

}


.header h1{
  width: 187px;
  margin: 0;
  margin-right: 80px;
  padding-left: 53px;
  padding-top:8px;


  font-size: 16px;
  line-height: 23px;
  font-weight: inherit;
  color: #ee3643;

  white-space: pre-line;

}



.header-phone{
  margin: 0;
  width: 186px;
  margin-bottom: 6px;
  padding: 10px 0;
  padding-left: 75px;
  position: relative;

  font-size: 21px;
  line-height: 21px;
  font-weight: inherit;
  color: #ee3643;

  border: 3px solid white;
}

.header-phone svg{
  position: absolute;
  top: 10px;
  left: 16px;
}

.header-adress{
  margin: 0;
  padding-left: 10px;

  font-weight: inherit;
  color: #32425c;
}

.user-navigation{
  width: 300px;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;
  font-size: 21px;
  line-height: 21px;
}



.user-navigation a{
  padding: 13px 24px;

  color: rgba(0,0,0,1);
  background-color: #fff;
}

.user-navigation a:hover{
  color: #ee3643;
}

.user-navigation a:active{
  color: rgba(0,0,0,0.5)
}

.main-navigation{

  padding-top: 40px;
  padding-bottom: 60px;

  font-size: 17px;
  line-height: 17px;
}

.main-navigation-list{
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}



.main-navigation-list li{
  flex-grow: 1;
  text-align: center;

}



.main-navigation a{
  display: inline-block;
  width: 100%;
  padding: 21.7px 0;
  color: rgba(255,255,255,1);
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449 ;
}



.main-navigation a:nth-of-type(2n){
  color: red;
}

.main-navigation a:hover{
  background-color: #293449;
}

.main-navigation a:active{
  background-color: #1d2739;
  color: rgba(255,255,255,0.5);
}

/*.b-index a{*/
  /*text-decoration: none;*/
/*}*/

/*.b-index h1,*/
/*.b-index h2,*/
/*.b-index h3,*/
/*.b-index h4{*/
  /*font-weight: inherit;*/
/*}*/

/*.header{*/
  /*background-color: #f3f7f8;*/
  /*color: white;*/
/*}*/



/*.top-menu-wrapper{*/
  /*background-color: #293449;*/
  /*display: flex;*/
/*}*/

/*.top-menu{*/
  /*display: flex;*/
  /*align-items: stretch;*/
/*}*/

/*.top-menu-icon{*/
  /*fill: #6a7180;*/
/*}*/

/*.top-menu-wrapper a{*/
  /*color: #ffffff;*/
  /*font-size: 17px;*/
  /*line-height: 18px;*/
/*}*/

/*.main-logo{*/
  /*background-color: #ee3643;*/
  /*box-shadow: 0 5px 0 0 #b52933;*/
/*}*/

/*.main-logo:hover{*/
  /*background-color: #ca2c37;*/
/*}*/

/*.main-logo:active{*/
  /*background-color: #ba2732;*/
/*}*/

/*.search-form:hover,*/
/*.fav-link:hover,*/
/*.cart-link:hover{*/
  /*background-color: #212a3a;*/
  /*fill: white;*/
/*}*/



/*.search-form:hover .search-icon,*/
/*.fav-link:hover .fav-icon,*/
/*.cart-link:hover .cart-icon{*/
  /*fill: white;*/
/*}*/

/*.fav-link:active,*/
/*.cart-link:active{*/
  /*background-color: #161d29;*/
  /*color: rgba(255,255,255,0.5);*/
/*}*/

/*.fav-link:active .fav-icon,*/
/*.cart-link:active .cart-icon{*/
  /*opacity: 0.5;*/
/*}*/

/*.checkout-link{*/
  /*background-color: #63a63e;*/
/*}*/

/*.checkout-link:hover{*/
  /*background-color: #5fbb2d;*/
/*}*/

/*.checkout-link:active{*/
  /*background-color: #518534;*/
  /*color: rgba(255,255,255,0.5);*/
/*}*/


/*.search-input{*/
  /*background-color: inherit;*/
  /*border-style: none;*/
  /*color: #ffffff;*/
  /*outline: none;*/
/*}*/

/*.search-input::-webkit-input-placeholder{*/
  /*color: #ffffff;*/
  /*font-size: 17px;*/
  /*line-height: 18px;*/
/*}*/

/*.search-input:focus{*/
  /*background-color: #fff;*/
  /*color: #000;*/
/*}*/

/*.header-bottom h1{*/
  /*color: #ee3643;*/
  /*font-size: 16px;*/
  /*line-height: 23px;*/
  /*font-style: italic;*/
  /*!*font-weight: inherit;*!*/
/*}*/

/*.header-phone{*/
  /*width: 270px;*/
  /*height: 45px;*/
  /*color: #ee3643;*/
  /*font-size: 21px;*/
  /*line-height: 21px;*/
  /*border: 3px solid #ffffff;*/
/*}*/

/*.header-adress{*/
  /*color: #32425c;*/
  /*font-size: 14px;*/
  /*line-height: 24px;*/
/*}*/

/*.user-navigation{*/
  /*list-style: none;*/
/*}*/

/*.user-navigation a {*/
  /*background-color: #ffffff;*/
  /*color: #000;*/
  /*font-size: 21px;*/
  /*line-height: 21px;*/
/*}*/

/*.user-navigation a:hover {*/
  /*color: #ee3643;*/
/*}*/

/*.user-navigation a:active{*/
  /*color: rgba(0,0,0,0.5) ;*/
/*}*/



/*.main-navigation-list{*/
  /*background-color: #32425c;*/
  /*box-shadow: 0 5px 0 0 #293449;*/
  /*list-style: none;*/
/*}*/


/*.main-navigation-list a{*/
  /*width: 100%;*/
  /*color: #ffffff;*/
  /*font-size: 17px;*/
  /*line-height: 17px;*/
/*}*/

/*.main-navigation-list a:hover{*/
   /*background-color: #293449;*/
 /*}*/
/*.main-navigation-list a:active{*/
  /*background-color: #1d2739;*/
  /*color: rgba(255,255,255,0.5);*/
/*}*/

/*.popular-title{*/
  /*background-color: #f9f5f0;*/
/*}*/

/*.popular-title h2{*/
  /*font-size: 30px;*/
  /*line-height: 30px;*/
  /*!*font-weight: inherit;*!*/
  /*color: #32425c;*/
/*}*/

/*.button-red{*/
  /*background-color: #ee3643;*/
  /*color: #ffffff;*/
  /*border-radius: 2px;*/
/*}*/

/*.button-red:hover{*/
  /*background-color: #ca2c37;*/
/*}*/

/*.button-red:active{*/
  /*background-color: #ba2732;*/
/*}*/

/*.popular-items{*/
  /*list-style: none;*/
/*}*/

/*.popular-item{*/
  /*border: 1px solid #eaeaea;*/
/*}*/

/*.services{*/
  /*background-color: #f4f8f9;*/
/*}*/

/*.services h3{*/
  /*font-size: 36px;*/
  /*line-height: 36px;*/
  /*color: #32425c;*/
/*}*/


/*.services p{*/
  /*font-family:  "PT Sans", Arial, sans-serif;*/
  /*font-size: 13px;*/
  /*line-height: 24px;*/
/*}*/

/*.info-wrap p{*/
  /*font-size: 13px;*/
  /*line-height: 24px;*/
/*}*/

.popular-title{
  margin-bottom: 21px;
  padding: 25px 25px 25px 30px;
  display: flex;
  justify-content: space-between;

  background-color: #f9f5f0;
}

.popular-title h2{
  align-self: center;
  margin: 0;


  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-weight: inherit;
  text-transform: uppercase;
}

.popular-items-button{
  width: 253px;
}

.popular-brands-button{
  width: 253px;
}


.popular-items{
  padding: 0;
  display: flex;
  margin: 0;
  margin-bottom: 21px;


  list-style: none;
}

.popular-item{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 20px;
  padding-bottom: 21px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;

  border: 1px solid #eaeaea;
}

.new-item{
  position: relative;
}

.new-item::before{
  content: '';

  position: absolute;
  width: 60px;
  height: 60px;
  top: 0px;
  right: 0px;

  background-image: url("../img/new-label.png");

}

.action{
  display: none;
  position: absolute;
  width: 218px;
  padding: 44px 0 31px 0px;

  background-color: #fff;
}

.popular-item:hover,
.popular-item:focus{
  border-color: white;
  box-shadow: 0 10px  25px   rgba(41,52,73,0.5);
}

.popular-item:hover .action{
  display: block;
}

.action-button{
  display: block;
  width: 135px;
  padding-top: 9px;
  padding-bottom: 8px;
  margin: 0 auto;

  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
}

.action-buy{
  position: relative;
  margin-bottom: 10px;

  color: white;
  background-color: #63a63e;
  box-shadow: 0 3px #367315 ;
}

.action-buy::before{
  content: '';

  position: absolute;
  width: 15px;
  height: 15px;
  top: 11px;
  left: 12px;
  background-image: url('../img/svg/icon-cart.svg');
  opacity: 0.5;
}

.action-buy:hover{
  background-color: #5fbb2d;
}

.action-buy:hover::before{
  opacity: 1;
}

.action-buy:active{
  background-color: #518534;
  box-shadow: 0 3px #518534 ;
}

.action-buy:active::before{
  opacity: 1;
}

.action-fav{
  box-sizing: border-box;
  color: #32425c;
  border: 3px solid #63a63e;
}

.action-fav:hover{
 border-color: #32425c;
}

.action-fav:active {
 opacity: 0.3;
}

.popular-item img{
  margin-bottom: 3px;
}

.popular-item h3{
  margin: 0 auto;
  margin-bottom: 11px;
  width: 160px;

  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.popular-item:nth-child(4n){
  margin-right: 0px;
}

.old-price{
  margin: 0;
  margin-bottom: 12px;

  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}
.old-price--none{
  margin: 0;
  margin-bottom: 10px;
  color: white;
}

.price{
  width: 100%;
  margin: 0;
  padding: 10px 0px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: white;
  background: url("../img/svg/red-button.svg") center no-repeat;
}


.popular-brands{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 85px;


  list-style: none;
}

.brand{
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea ;
}

.brand:nth-of-type(4n){
  margin-right: 0;
}

.brand a{
  display: flex;
  width: 218px;
  height: 145px;
  justify-content: center;
  text-align: center;
}

.brand img{
  align-self: center;
}

.brand a:hover{
  box-shadow: 0 10px  25px   rgba(41,52,73,0.5);
}

.brand a:active{
  box-shadow: 0 4px  10px   rgba(41,52,73,0.5);
  opacity: 0.5;
}
/*--------------------------------*/
.service-wrap{
  height: 100%;
  background-color: #f4f8f9;
}

.services{
  display: flex;
  flex-direction: column;

  padding-top: 63px;
}

.services h2{
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 30px;
  font-weight: inherit;
}

.services p{
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  color: #000;
  font-size: 13px;
  line-height: 24px;
  font-weight: inherit;
}

.services > p{
  width: 400px;
  margin-bottom: 70px;
}


.service-slider{
  display: flex;
  justify-content: space-between;

}



.service-slider > input{
  display: none;
}



.service-slider-controls > label{
  box-sizing: border-box;
  display: block;
  width: 240px;
  margin-bottom: 1px;
  padding-left: 27px;
  padding-top: 13px;
  padding-bottom: 17px;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  background-color: #32425c;

  box-shadow:
    0 1px  0 0 #293449,
    inset 0 1px 0 0 #405069;

  cursor: pointer;
}

.service-slider-controls > label:hover{
  background-color: #293449;
}

.service-slider-controls{
  position: relative;
}

.service-slider-controls::after{
  content: " ";
  position: absolute;
  right: 0;
  top: -50px;
  width: 10px;
  height: 280px;

  background: url('../img/shadow.png') no-repeat center center;
}

.delivery-radio:checked ~ .service-slider-controls label:nth-of-type(1),
.guarantee-radio:checked ~ .service-slider-controls  label:nth-of-type(2),
.credit-radio:checked ~ .service-slider-controls  label:nth-of-type(3){
  color: #32425c;
  background-color: #fff;
  box-shadow: 0 1px 0 0 #f5f8fa;
}

.service-slides{
  display: none;
  width: 620px;
  min-height: 285px;
  margin-bottom: auto;
}


.delivery-radio:checked ~ .service-slides:nth-of-type(2) ,
.guarantee-radio:checked ~ .service-slides:nth-of-type(3) ,
.credit-radio:checked ~ .service-slides:nth-of-type(4) {
  display: block;
}



.service-slides > h3{
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  color: #32425c;
  font-size: 36px;
  line-height: 24px;
  font-weight: inherit;
}



.service-delivery {
  background: url("../img/delivery.png") no-repeat right bottom;
}

.service-guarantee {
  background: url("../img/gurantie.png") no-repeat right bottom;
}

.service-credit {
  background: url("../img/credit.png") no-repeat right bottom;
}

.service-delivery p{
width: 275px;
}

.service-guarantee p{
  width: 379px;
}

.service-credit p{
  width: 320px;
  margin-bottom: 26px;
}

.credit-send{
  width: 195px;
}
/*--------------------------------*/
.index-columns{
  padding-top: 82px;
  padding-bottom: 86px;
  display: flex;

}

.about-us{
  width: 540px;
}

.about-us h2{
  margin: 0;
  margin-bottom: 40px;

  font-size: 30px;
  line-height: 30px;
  font-weight: inherit;
}

.about-us p{
  margin: 0;
  margin-bottom: 35px;
  font-size: 13px;
  line-height: 24px;
  font-weight: inherit;
  font-family: 'PT Sans', Arial, sans-serif;
}

.about-us p:last-of-type{
  width: 390px;
  margin-bottom: 21px;
}

.shipping-methods{
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 18px;
  line-height: 20px;
  font-weight: inherit;
}

.shipping-methods li{
  position: relative;
  margin-bottom: 21px;
  padding-left: 35px;
}

.shipping-methods li:last-of-type{
  margin-bottom: 40px;
}

.shipping-methods li::before{
  display: block;

  margin-right: 10px;
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  top: 8px;
  left: 0px;

  background-color: #ee3643;
}

.more-button{
  width: 220px;
}


.contacts{
  width: 300px;
  margin-left: auto;
}

.contacts h2{
  margin: 0;
  margin-bottom: 40px;

  font-size: 30px;
  line-height: 30px;
  font-weight: inherit;
}

.contacts p{
  margin: 0;
  margin-bottom: 40px;

  font-size: 13px;
  line-height: 24px;
  font-weight: inherit;
  font-family: 'PT Sans', Arial, sans-serif;
}

.map{
  display: inline-block;
  margin-bottom: 40px;
}

.write-us-button{
  width: 300px;
  border: none;
}

/*----------------------------------------*/
footer p{
  margin: 0;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.up-footer .container{
  display: flex;
  flex-direction: column;
}

.up-footer{
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
}

.footer-row{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-row:last-of-type{
  padding-top: 35px;
  padding-bottom: 48px;
}

.footer-logo {
  width: 220px;
  height: 63px;
}

.footer-logo img{
  padding: 21px 42px;
}

.info-navigation{
  display: flex;
  justify-content:space-between;
  width: 550px;
  padding: 0;
  margin-left: 170px;
  margin-top: 39px;
  margin-bottom: 0;
  list-style: none;


}

/*.up-footer a:hover{*/
  /*text-decoration: underline;*/
/*}*/



.info-navigation a{
  color: #ffffff;
}

.info-navigation a:hover{
  box-shadow: inset 0 -1px 0 0 #32425c,
  inset 0 -2px 0 0 #ffffff ;
}

.footer-contacts{
  width: 340px;
  margin-right: 75px;

  padding-left: 4px;


}

.product-navigation{
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  padding: 0;
  margin-top: 0px;
  margin-left: 0px;
  list-style: none;
}

.product-item:not(:last-of-type){
  margin-right: 62px;
}

.product-navigation a{
  color: #ffd180;
}



.product-navigation a:hover{
  box-shadow: inset 0 -1px 0 0 #32425c,
  inset 0 -2px 0 0 #ffd180 ;
}

.up-footer a:not(.footer-logo):active{
  opacity: 0.5;
  box-shadow: none;
}


.down-footer{
  width: 100%;
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.down-footer .container{
  display: flex;
  min-height: 107px;
  align-items: center;
}

.footer-copyright{
  width: 230px;
}

.socials{
  width: 290px;
  margin: 0;
  /*margin-left: 155px;*/
  padding: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.social-button{
  display: inline-block;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social-button:hover,
.social-button:active{
  background-color: #ee3643;
}

.vk{
  background: #212a3a url('../img/svg/icon-vk.svg') center no-repeat;
}
.fb{
  background: #212a3a url('../img/svg/icon-fb.svg') center no-repeat;
}
.inst{
  background: #212a3a url('../img/svg/icon-insta.svg') center no-repeat;
}

.developers{
  width: 300px;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;
}

.developers li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.developers li:first-of-type {
  margin-right: 50px;
}

.developers a{
  color: #ffd180;
}

.developers a:hover{
  box-shadow: inset 0 -1px 0 0 #293449,
  inset 0 -2px 0 0 #ffd180 ;
}

.developers a:active{
  color: #ee3643;
  box-shadow: none;
}
/*body>*{*/
  /*background-color: rgba(255,0,0,0.5);*/
  /*border: 1px solid black;*/
/*}*/

/*body>*>*{*/
  /*background-color: rgba(0,255,255,0.5);*/
  /*border: 1px solid white;*/
/*}*/

/*body>*>*>*{*/
  /*background-color: rgba(0,255,0,0.5);*/
  /*border: 1px solid black;*/
/*}*/

/*body>*>*>*>*{*/
  /*background-color: rgba(255,255,0,0.5);*/
  /*border: 1px solid white;*/
/*}*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.modal-wrap{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100% ;
  width: 100%;
  z-index: 2;
  text-align: center;

}

.popup-map{
  position: relative;
  display: inline-block;
  height: 450px;
  box-shadow: 0 0 16px 0px rgba(0,0,0,0.5);
}

.close{
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;

  border: none;
  background-image: url(../img/close-icon.png);
  background-color: transparent;

  z-index: 5;
}

.modal-write-us{
  position: relative;
  display: inline-block;
  width: 620px;

  background-color: #fff;
  border-top: 7px solid #ff5358;

  box-shadow: 0 0 16px 0px rgba(0,0,0,0.5);
}

.modal-write-us form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.input-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 45px 80px 37px 80px;
}

.button-wrap{
  display: flex;
  padding:  37px 80px;

  background-color: #f4f4f4;
}

.form-input{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  text-align: left;
}

.form-input:last-child{
  margin-bottom: 0px;
}

.form-input label{
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 18px;
  color: #000;
}

.form-input input{
  width: 220px;
  box-sizing: border-box;
  padding: 10px 0 11px 15px;
  border: 3px solid #d7dcde;
  border-radius: 3px;
  outline: none;
}

.form-input textarea{
  width: 460px;
  height: 114px;
  box-sizing: border-box;
  padding-top: 14px;
  padding-left: 17px;
  border: 3px solid #d7dcde;
  border-radius: 3px;
  outline: none;

  resize: none;
}

.form-input input:hover,
.form-input textarea:hover{
  border-color: #b5b5b5;
}

.form-input input:focus,
.form-input textarea:focus{
  border-color: #ee3643;
}

.write-us-form-button{
  width: 460px;
  border:none;
}
