/*.main-header--logo img{*/
  /*display: block;*/
  /*margin: 13px 55px ;*/
/*}*/
body{
  margin: 0;
}

header{
width: 100%;
}
.top-menu{
  width: 100%;
  height: 42px;
  background-color: #293449;

}
.top-menu__inner{
  display: inline-flex;
  margin-left: 130px;
}

.main-logo{
  width:220px;
  height: 42px;

  box-sizing: border-box;
  padding: 13px 55px;
  background-color: #ee3643;
  box-shadow: 0px 5px 0px 0px #b52933;
}
/*.main-header--logo:hover{*/
  /*background-color: #ca2c37;*/
/*}*/

/*.main-header--logo:active{*/
  /*background-color: #ba2732;*/
/*}*/

/*.search-form{*/
  /*width: 270px;*/
  /*!*padding-left: 17px;*!*/
  /*!*padding-top: 12px;*!*/
  /*background-color: #293449;*/
/*}*/

/*.header__icon{*/
  /*margin-left: 17px;*/
  /*text-align: center;*/
/*}*/

/*.search-form:hover{*/
  /*background-color: #212a3a;*/
/*}*/

/*.search-form:hover .search__icon path {*/
  /*fill: white;*/
/*}*/

/*.search-form__input {*/
  /*height: 100%;*/
  /*border: none;*/
  /*background-color: inherit;*/
/*}*/

/*input[type="search"]::-webkit-input-placeholder{*/
  /*color: black;*/
  /*font-size: 17px;*/
/*}*/

/*.search-form__input:focus::-webkit-input-placeholder{*/
  /*color: red;*/
/*}*/

/*.search-form__input:focus {*/
  /*outline: none;*/
  /*background-color: white;*/
/*}*/

/*.search-form .search-form__input:focus  {*/
  /*background-color: white;*/
/*}*/

/*.search-form__input:focus .search__icon path {*/
  /*fill: red;*/
/*}*/

/*.top-menu__link-list{*/
  /*display: inline-flex;*/
  /*list-style: none;*/
  /*margin: auto;*/
  /*font-size: 17px;*/
/*}*/

/*.list-link__link{*/
  /*text-decoration: none;*/
  /*color: #ffffff;*/
/*}*/

