/*.main-header--logo img{*/
  /*display: block;*/
  /*margin: 13px 55px ;*/
/*}*/
body{
  margin: 0;
  padding: 0;

  font-family: "Cuprum","PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  background-color: #fff;
}

a{
  text-decoration: none;
}

header{
  background-color: #f3f7f8;
}

.top-menu{
  background-color: #293449;
  display: flex;
}

.top-menu__inner{
  display: flex;
  align-items: stretch;
}

.top-menu-icon{
  fill: #6a7180;
}

.top-menu a{
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.main-logo{
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.main-logo:hover{
  background-color: #ca2c37;
}

.main-logo:active{
  background-color: #ba2732;
}

.search-form:hover,
.fav-link:hover,
.cart-link:hover{
  background-color: #212a3a;
  fill: white;
}



.search-form:hover .search-icon,
.fav-link:hover .fav-icon,
.cart-link:hover .cart-icon{
  fill: white;
}

.fav-link:active,
.cart-link:active{
  background-color: #161d29;
  color: #a2a5a9;
}

.fav-link:active .fav-icon,
.cart-link:active .cart-icon{
  fill: #8b8e94;
}

.checkout-link{
  background-color: #63a63e;
}

.checkout-link:hover{
  background-color: #5fbb2d;
}

.checkout-link:active{
  background-color: #518534;
  color: #a8c29a;
}


.search-input{
  background-color: inherit;
  border-style: none;
  color: #ffffff;
  outline: none;
}

.search-input::-webkit-input-placeholder{
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.search-input:focus{
  background-color: #fff;
  color: #000;
}

.header-bottom h1{
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.header-phone{
  width: 270px;
  height: 45px;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
}

.header-adress{
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.user-navigation{
  list-style: none;
}

.user-navigation a {
  background-color: #ffffff;
  color: #000;

  font-size: 21px;
  line-height: 21px;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active{
  color: #b2b2b2;
}

.main-navigation{
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
}

.main-navigation-list{
  list-style: none;
}

.main-navigation-list a{
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}

.main-navigation-list a:hover{
   background-color: #293449;
 }
.main-navigation-list a:active{
  color: #8e939c;
}
